{include file="public/header,public/nav"/}

    <div class="container">
        <div class="top-container">
            <div class="mid-area">
                <div class="slide-holder" id="slide-holder">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            {volist name="featuredBig" id="vo"}

                            <div class="swiper-slide">
                                <a href="http://www.baidu.com" target="_blank"><img style="height: 100%; width:100%" src="{$vo.image}" alt="{$vo.title}"></a>
                            </div>

                            {/volist}
                        </div>
                    </div>
                </div>
                <div class="list-container">
                    
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-ad">
                <ul class="slidepic">
                    <li><a href="#"><img style="height: 100%; width: 100%" src="{$featuredSmall->image}" /></a></li>
                </ul>
            </div>
            
        </div>
        <div class="content-container">
            <div class="no-recom-container">
                <div class="floor-content-start">
                    
                    <div class="floor-content">

                        <div class="floor-header">
                            <h3>美食推荐</h3>
                            <ul class="reco-words">
                                {volist name="$food_seData" id="vo"}
                                <li><a href="{:url('list/index',['id'=>$vo.id])}" target="_blank">{$vo.name}</a></li>
                                {/volist}
                                <li><a class="no-right-border no-right-padding" target="_blank">全部<span class="all-cate-arrow"></span></a></li>
                            </ul>
                        </div>

                        <ul class="itemlist eight-row-height">
                            {if $foodData}
                            {volist name="foodData" id="vo"}
                            <li class="j-card">
                                <a href="{:url('detail/index',['id'=>$vo.id])}">
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                大连市沙河口区软景中心
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="{$vo.image}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="{:url('detail/index',['id'=>$vo.id])}" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【{:countLocation($vo.location_ids)}店通用】{$vo.name}</h4>
                                        </div>

                                        <p>{$vo.description}</p>
                                    </a>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>{$vo.current_price}</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>{$vo.origin_price}</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售{$vo.buy_count}</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                           {/volist}
                            {else/}
                            <span style="font-size:20px;color:red;">
                                该分类目前没有团购商品
                            </span>
                            {/if}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>

<script src="__STATIC__/index/swiper/js/common.js"></script>
</body>
</html>